.buttonsContainer {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.clock {
    display: flex;
    flex-direction: column;
}

.watch {
}

.watch strong {
}

.more {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
}