.App {
    --header_height: 60px;
}

.hw {
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hw1 {

}
.hwTitle {
    margin-top: 40px;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}
