.sendForm {
    margin-top: 55px;
    display: flex;
    align-items: center;
    gap: 45px;
}

.textarea {
    width: 976px;
    min-height: 40px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
    resize: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.button {
    width: 120px;
    height: 40px;
    background: #0066CC;
    border-radius: 20px;
    border: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.button:hover {
    background: #024e9a;
    cursor: pointer;
}
.button:active {

}
